@model List<Fiap.Exemplo03.MVC.Models.Fruta>

@{
    ViewBag.Title = "Listar";
}


<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Valor Calórico</th>
        <th>Semente</th>
        <th>Orgânico</th>
        <th>Data de Cadastro</th>
    </tr>
    @foreach (var f in Model)
    {
        <tr>
            <td>@f.Id</td>
            <td>@f.Nome</td>
            <td>@f.ValorCalorico</td>
            <td>@(f.Semente?"Sim":"Não")</td>
            <td>@(f.Organico?"Sim":"Não")</td>
            <td>@f.DataCadastro.ToShortDateString()</td>
        </tr>
    }
</table>

